@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color: #3498db; /* Change this to your desired color */
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #2f363e, #1f2428); */
    background: linear-gradient(to bottom, #185193, #1f2428);
}

#time {
    display: flex;
    gap: 40px;
    color: #fff;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, box-shadow 0.3s;
}

#time .circle:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4px;
    transform: translate(5px, 5px);
    transition: stroke 0.3s;
}

#time .circle:hover svg circle:nth-child(2) {
    stroke: var(--color);
}

#time div {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s;
}

#time:hover div {
    color: var(--color);
}

#time div span {
    position: absolute;
    transform: translate(-50%, 0px);
    font-size: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

#time .ap {
    position: relative;
    font-size: 1rem;
    transform: translate(-20px);
    transition: color 0.3s;
}

#time:hover .ap {
    color: var(--color);
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color), 0 0 60px var(--color);
    transition: background 0.3s, box-shadow 0.3s;
}

.dots:hover::before {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7), 0 0 60px rgba(255, 255, 255, 0.7);
}
